<?xml version="1.0" encoding="utf-8"?>
 
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".md" />
			<mimeMap fileExtension=".md" mimeType="text/markdown" />
		</staticContent>
		<rewrite>
			<rules>
   				<rule name="Redirect" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />	
                        <add input="{REQUEST_URI}" pattern="^/public/" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/scripts/" negate="true" />				
                    </conditions>
                    <action type="Rewrite" url="/default.html" />
                </rule>
			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
 